@model BootLocker.WebFrontend.Models.VmElementCategoriesSummary

@{
    ViewBag.Title = "Elements' Categories";

}
<h2>Categories Summary</h2>

<div>
    @Html.ActionLink("New Category", "Create",null, htmlAttributes: new {@class = "btn btn-primary" })
</div>        

<br/>

<table class="table">
    <tr>
        <th>
            <label>Code</label>
        </th>
        <th>
            <label>Name</label>
        </th>
        <th>
            <label>Description</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ElementCategories)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
    }
</table>


